@mixin noEffectButton {
  text-decoration: none;
  border: 0;
  padding: 0;
}

@mixin form {
  $border-radius-form: 4px;

  label {
    display: inline-block;
    padding: 0.5rem;
    text-transform: capitalize;
  }
  input,
  select {
    font-size: inherit;
    display: inline-block;
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: $border-radius-form;
    outline: none;
    &:focus {
      box-shadow: 0px 0px 3px $primary;
    }
    &:invalid {
      box-shadow: 0px 0px 3px red;
    }
    &[type="number"] {
      appearance: textfield;
    }
  }
  .submitButton {
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    color: $secondary;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: $border-radius-form;
  }
}
