@import "variables";

.accueil {
  .presentation {
    h1 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
  }

  .calendrier {
    border: 1px solid $primary;
    text-align: center;
    h2 {
      text-decoration: underline overline $primary;
    }
  }

  .facebookPage {
      width: calc(100%);
      height: 480px;
      background-color: $primary;
  }

  .news {
    display: flex;
    flex-direction: column;

    .score {
      margin: 1px;
      font-style: italic;
      text-align: center;
      border-top: 3px solid $primary;
      border-bottom: 3px solid $primary;
      * {
        margin: inherit;
      }
    }
    .actu {
      transition: all 0.3s;
      background-color: rgba($primary, $opacity-4);
      color: $secondary;
      font-size: 1.5rem;
      padding: 1rem;
      margin-top: 1px;
      margin-bottom: 1px;
      text-decoration: none;
      text-overflow: ellipsis;
      overflow: hidden;

      * {
        display: inline-block;
        vertical-align: middle;
        height: 1.5rem;
        white-space: nowrap;
        max-width: calc(100% - 1rem - 1px);
        overflow: hidden;
        text-overflow: ellipsis;
        &::before {
          content: "";
          display: block;
          position: relative;
          height: 1px;
          width: 100%;
          overflow: visible;
          top: 38px;
          background-color: black;
        }
      }

      &::before {
        content: "";
        display: block;
        position: relative;
        height: 1px;
        width: 0%;
        overflow: visible;
        top: 46px;
        background-color: $primary;
      }

      &:hover {
        background-color: $ternary;
        color: $primary;
        fill: $primary;
        svg {
          transition: transform 0.5s ease-out;
          /*
          -webkit-transform: translateX(32px);
          -moz-transform: translateX(32px);
          -ms-transform: translateX(32px);
          -o-transform: translateX(32px);
          */
          transform: translateX(calc(100%));
        }
        &::before {
          content: "";
          display: block;
          position: relative;
          height: 1px;
          width: 100%;
          top: 46px;
          background-color: $primary;
          transition: width 0.5s ease-out;
        }
      }
    }
  }
}
