@import "variables";



.boutique {
  @include form;
  font-size: $font-size-boutique;

  #produit {
    text-align: center;

    > img {
      max-height: 300px;
      max-width: 200px;
    }

    .prixBase {
      text-decoration: line-through;
      color: red;
    }
  }
}
