@import "variables";

@mixin cms-button {
  @include noEffectButton;
  width: fit-content;
  color: $secondary;
  margin: 10px;
  padding: 10px;
  height: 3rem;
  border: 1px solid $primary;
  border-radius: 4px;
  background: $primary;

  svg {
    margin-left: 5px;
    vertical-align: text-bottom;
  }
  &:hover {
    transition: all 0.2s;
    color: #fff;
    svg {
      transition: all 0.2s;
      fill: #fff;
    }
  }
}

@mixin table {
  table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid $ternary;
    th {
      text-transform: capitalize;
      text-align: left;
      height: 2.5rem;
      border-bottom: 2px solid $ternary;
    }
    tbody {
      tr {
        td {
          border-bottom: 2px solid $ternary;
        }
        .last-cell {
          width: 32px;
        }
        &:nth-child(even) {
          background: $ternary;
        }
        &:hover {
          background: $primary;
        }
      }
    }
  }
}

#cms {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: $font-family-content;

  .cms-menu {
    position: sticky;
    overflow-y: auto;
    background: $secondary;
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    height: 100vh;
    min-width: calc(100vh * 0.25);
    text-decoration: none;

    a {
      text-decoration: inherit;
      text-transform: uppercase;
      font-size: larger;
      color: inherit;
      border: 1px solid $secondary;
      border-radius: 4px;
      padding: 0.5rem;
      margin: 0.5rem;
      &:hover {
        color: $secondary;
        background: $primary;
      }
    }
  }

  .cms-content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    width: 100%;
    &.gestion {
      @include table;
      .add-button {
        @include cms-button;
      }
    }

    &.form {
      @include form;
      button {
        margin: 5px;
        width: fit-content;
        border-radius: 4px;
        line-height: 3rem;
        font-size: inherit;
        svg {
          padding-left: 5px;
          vertical-align: text-bottom;
        }
      }
      .submit-button {
        @include cms-button;
        &:active {
          box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
        }
      }
    }

    &.cms-login {
      @include form;
      width: fit-content;
      position: absolute;
      border: 1px solid $primary;
      top: 30%;
      left: 50%;
      input[type="button"] {
        @include cms-button;
        &:active {
          box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
            inset 2px 2px 3px rgba(0, 0, 0, 0.6);
        }
      }
    }
  }
}
