@import "variables";

@mixin menu {
  min-height: $menu-height-lg;
  max-height: 100vh;
  height: 100%;
  background-color: $secondary;
  color: $primary;
  font-family: $font-family-h;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;

  * {
    background-color: inherit;
    color: inherit;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
  }
}

@mixin nav-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: inherit;
}

@mixin nav-item {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0px;
  width: 100%;
}

@mixin nav-header {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  text-decoration-line: overline;
  text-overline-offset: 5px;
  line-height: normal;
  border-left: solid 1px $primary;
}

@mixin dropdown {
  #dropdown {
    #submenu {
      overflow-y: auto;
      font-size: 1rem;
      padding-left: $x-margin-lg;
      padding-right: $x-margin-lg;
    }

    .nav-col {
      @include nav-col;
      > * {
        display: inline !important;
      }
    }

    .nav-header {
      @include nav-header;
      > * {
        display: inline !important;
      }
    }

    .nav-item {
      @include nav-item;
      > * {
        display: inline !important;
      }

      &:hover {
        -webkit-animation: shadow-pop-bl 0.3s
          cubic-bezier(0.47, 0, 0.745, 0.715) both;
        animation: shadow-pop-bl 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
      }
    }

    &:focus-within,
    &:hover {
      #submenu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: $menu-height-lg * 4;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        -webkit-animation: scale-in-ver-top 0.5s both;
        animation: scale-in-ver-top 0.5s both;
      }
    }

    * {
      display: none;
    }

    > button {
      @include noEffectButton;
      font-size: inherit;
      display: block;
      outline: none;
      * {
        display: inline;
        fill: $primary;
      }
    }
  }
}

#menu {
  @include menu;

  /**
   Screen < 1100px 
  */
  @media (max-width: $grid-breakpoints-lg) {
    min-height: $menu-height;
    flex-direction: column;

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 8px;
      width: 100%;
    }

    .top > .collapsed {
      .menu {
        display: none;
      }
      .cross {
        visibility: visible;
        -webkit-animation: rotate-in-center 0.6s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
      }
    }

    .top > .notCollapsed {
      .menu {
        visibility: visible;
        -webkit-animation: rotate-in-center 0.6s
          cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
          both;
      }
      .cross {
        display: none;
      }
    }

    #logo {
      display: inline;
      order: -1;
    }

    #collapseButton {
      @include noEffectButton;

      color: inherit;
      background-color: inherit;

      svg {
        fill: $primary;
      }
    }

    .bottom.collapsed {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      background-color: inherit;
      color: inherit;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      font-family: inherit;
      font-size: inherit;
      width: 100%;
      -webkit-animation: scale-in-ver-top 0.5s both;
      animation: scale-in-ver-top 0.5s both;

      .nav-item {
        display: block;
        @include nav-item;
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
      }

      @include dropdown;
      #dropdown {
        &:hover,
        &:focus-within {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          button {
            -webkit-animation: slide-right 0.5s both;
            animation: slide-right 0.5s both;
          }

          #submenu {
            top: 0%;
            position: static;
          }
        }
      }
    }

    .bottom.notCollapsed {
      display: none;
    }

    .nav-item {
      display: none;
    }
  }

  @media (min-width: $grid-breakpoints-lg) {
    @include menu;
    padding-left: $x-margin-lg;
    padding-right: $x-margin-lg;
    align-items: stretch;
    line-height: $menu-height-lg;
    max-height: $menu-height-lg;

    #collapseButton {
      display: none;
      visibility: hidden;
    }

    .top {
      align-self: center;
      max-height: inherit;
    }

    .bottom {
      display: inherit;
      > .nav-item {
        line-height: inherit !important;
        padding-left: 0.5rem;
        button{
          height: 100%;
        }
      }
      .nav-item{
        line-height: normal
      }
    }

    
    @include dropdown;
    #dropdown {
      .nav-header,
      .nav-item {
        width: calc(#{$menu-width-lg} / 4);
      }
    }
  }
}
