@import "variables";

@media (max-width: $grid-breakpoints-lg) {
}

@media (min-width: $grid-breakpoints-lg) {
  #menu {
    height: $menu-height-lg;
    padding-left: $x-margin-lg;
    padding-right: $x-margin-lg;
    background-color: $secondary;
    color: $primary;
    font-family: $font-family-h;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;

    * {
      background-color: inherit;
      color: inherit;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      font-family: inherit;
      font-size: inherit;
    }

    .nav-item {
      margin: 0.5rem;
      font-size: inherit;
    }

    #dropdown {
      #submenu {
        font-size: 1rem;
        padding-left: $x-margin-lg;
        padding-right: $x-margin-lg;
      }

      .nav-item {
        display: flex;
        justify-content: space-between;
        width: calc(#{$menu-width-lg} / 4);
        > * {
          display: inline !important;
        }
        > svg {
          align-self: end;
          fill: $primary;
          * {
            display: inline;
          }
        }

        &:hover {
          -webkit-animation: slide-right 0.5s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        }
      }

      &:focus-within,
      &:hover {
        #submenu {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: $menu-height-lg * 2;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          -webkit-animation: scale-in-ver-top 0.5s both;
          animation: scale-in-ver-top 0.5s both;
        }

        :not(:hover) {
          #submenu {
            -webkit-animation: scale-out-ver-top 0.5s
              cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
            animation: scale-out-ver-top 0.5s
              cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          }
        }
      }

      * {
        display: none;
      }

      > button {
        font-size: inherit;
        display: block;
        text-decoration: none;
        border: 0;
        padding: 0;

        * {
          display: inline;
          fill: $primary;
        }
      }
    }
  }
}
