@import "./module/variables";

html,
body {
  margin: 0;
}

#layout {
  background: url("../resources/handball_mondial_karabatic.jpg");
}

.loading {
  position: relative;
  top: 50%;
  left: 50%;
  display: inline-block;
  border: 8px solid $ternary;
  border-radius: 50%;
  border-top: 8px solid $primary;
  width: 48px;
  height: 48px;
  animation: spin 2s linear infinite;
}
